/*Este es el contenedor principal donde están el resto de contenedores. Se llama 0 porque 
se hizo después y es el 0, o inicial*/
.contenedor0 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 2px;
    margin-left: 8em;
    margin-right: 8em;
}

/*Este media es para el Responsive, hay que seguir modificancolo. Se puede poner al final
del documento*/
@media (max-width: 920px){
    .contenedor0 {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 4em;
        margin-right: 4em;
    }
    .contenedor{
        margin: 10px;
        padding: 10px;
        width: 200px;
        height: 150px;
        align-items: center;
    }
    .contenedor h2{
        font-size: 75%;
    }
    .contenedor2 {
        font-size: 50%;
    }
    .image{
        align-self: center;
        width: 100%;
        height: 100%;
    }
}
/*Este media lo hice para que replicando las acciones del otro que hubiera una transicción
más suave. No sirve de nada pero lo mantego por si acaso. Se puede borrar.
@media (max-width: 800px){
    .contenedor0 {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 1em;
        margin-right: 1em;
    }
    .contenedor{
        margin: 10px;
        padding: 10px;
        width: 200px;
        height: 150px;
        align-items: center;
    }
    .contenedor h2{
        font-size: 75%;
    }
    .contenedor2 {
        font-size: 50%;
    }
    .image{
        align-self: center;
        width: 100%;
        height: 100%;
    }
}*/

/*Contenedor donde se colocan las cajas de las recetas*/
.contenedor{
    margin: 10px;
    padding: 10px;
    height: 200px;
    align-items: center;
    

    /*display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);*/

    border: 2px;
    border-radius: 8px;
    background-color: rgb(33, 33,33);
}

/*contenedor donde esta la imagen y el texto*/
.contenedor2{
    border-width: 90%;
    align-self: self-end;
    margin: 10px;
    width: auto;
    height: 150px;
    position: relative;
}
/*Modifica el titulo de la receta*/
.contenedor h2{
    margin-bottom: 0;
    color: whitesmoke;
    text-align: center;
    align-self: baseline;
}


.image{
    align-self: center;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

/*Forma que encontré para poder poner el texto encima de la imagen*/
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .0s ease;
}

.contenedor2:hover .overlay{
    bottom: 0;
    height: 100%;
}

.contenedor2:hover .image{
    filter: blur(8px);
}

.texto { 
    color: whitesmoke;
    font-size: 10px;
    box-sizing: content-box;

    position: absolute;
    overflow: hidden;
    top: 15%;
    left: 15%;
    bottom: 15%;
    right: 15%;
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
}

/*le quita la linea tipica de los enlaces*/
.contenedor2 a{
    text-decoration-line: none;
}


